* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  color: #0000ff;
}

table {
  margin: 1%;
  padding: 1%;
  width: 30%;
  border-radius: 5px;
  height: 60%;
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.185);
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.185);
}
table tr {
  background-color: #fff;
}
table tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1568627451);
}
@media only screen and (max-width: 600px) {
  table {
    width: 90%;
  }
}

form {
  width: 30%;
  text-align: center;
}
form input, form button {
  display: block;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1568627451);
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 1%;
  margin: 1% 0;
  font-size: 1rem;
  text-align: center;
  outline: 0;
}
form input::-webkit-input-placeholder, form button::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.1568627451);
}
form input::-moz-placeholder, form button::-moz-placeholder {
  color: rgba(0, 0, 0, 0.1568627451);
}
form input:-ms-input-placeholder, form button:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.1568627451);
}
form input::-ms-input-placeholder, form button::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.1568627451);
}
form input::placeholder, form button::placeholder {
  color: rgba(0, 0, 0, 0.1568627451);
}
form button {
  width: 100%;
  cursor: pointer;
  color: #0000ff;
  border-color: #0000ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
form button i {
  margin-right: 1%;
}
form button:hover {
  color: #fff;
  background-color: #0000ff;
}

span {
  display: none;
}
span.ativo {
  display: block;
  font-style: italic;
}

.error {
  border-color: #ff0000;
  color: #ff0000;
}