*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color: #0000ff;
}
table{
    margin: 1%;
    padding: 1%;
    width: 30%;
    border-radius: 5px;
    height: 60%;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.185);
    tr{
        background-color: #fff;
        td{
            border-bottom: 1px solid #00000028;
        }
    }
    @media only screen and (max-width: 600px){
        width: 90%;
    }
}
form{
    width: 30%;
    text-align: center;
    @media only screen and (max-width: 600px){
        width: 90%;
    }
    input, button{
        display: block;
        background-color: #fff;
        border: 1px solid #00000028;
        border-radius: 5px;
        width: 100%;
        height: 50px;
        padding: 1%;
        margin: 1% 0;
        font-size: 1rem;
        text-align: center;
        outline: 0;
        &::placeholder{
            color: #00000028;
        }
    }
    button{
        width: 100%;
        cursor: pointer;
        color: #0000ff;
        border-color: #0000ff;
        transition: .3s;
        i{
            margin-right: 1%;
        }
        &:hover{
            color: #fff;
            background-color: #0000ff;
        }
    }
    
}
span{
    display: none;
    &.ativo{
        display: block;
        font-style: italic;
    }
}
.error{
    border-color: #ff0000;
    color: #ff0000;
}